<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ythd.ower.content.mapper.AppContentMpper">

   <resultMap id="ContentFild" type="com.ythd.ower.content.model.ContentModel">
       <id property="id" column="CONTENT_ID" jdbcType="DECIMAL" ></id>
       <result property="title" column="TITLE" jdbcType="VARCHAR"></result>
       <result property="sortTitle" column="SORT_TITLE" jdbcType="VARCHAR"></result>
       <result property="link" column="LINK" jdbcType="VARCHAR"></result>
       <result property="abstractContent" column="ABSTRACT" jdbcType="VARCHAR"></result>
       <result property="orgin" column="ORGIN" jdbcType="VARCHAR"></result>
       <result property="orginUrl" column="ORGINURL" jdbcType="VARCHAR"></result>
       <result property="puttime" column="PUTTIME" jdbcType="VARCHAR"></result>
       <result property="ctype" column="CTYPE" jdbcType="VARCHAR"></result>
       <result property="timg" column="T_IMG" jdbcType="VARCHAR"></result>
       <result property="content" column="CONTENT" jdbcType="VARCHAR"></result>
       <result property="ccommentCount" column="COMMENT_COUNT" jdbcType="DECIMAL"></result>
       <result property="praiseCount" column="PRAISE_COUNT" jdbcType="DECIMAL"></result>
       <result property="modelType" column="MODEL_TYPE" jdbcType="DECIMAL"></result>
       <collection property="album" jdbcType="java.util.List" ofType="com.ythd.ower.content.model.ContentAlbumModel">
           <id property="id" column="ALBUM_Id" jdbcType="DECIMAL"></id>
           <result property="originalImg" column="ORIGINAL_IMG" jdbcType="VARCHAR"></result>
           <result property="thumbnailImg" column="THUMBNAIL_IMG" jdbcType="VARCHAR"></result>
       </collection>
   </resultMap>
  <!-- 查询新闻列表非头条  先按推荐值排序 后按时间排序(过滤掉头条内容可传参数excludeIds) -->
  <select id="findContentListByPage" parameterType="page" resultMap="ContentFild">
     SELECT t1.CONTENT_ID,t1.TITLE,t1.SORT_TITLE,t1.LINK,t1.ABSTRACT,t1.ORGIN,t1.ORGINURL,t1.PUTTIME,
     t1.CTYPE,t1.T_IMG,t1.CONTENT,t1.COMMENT_COUNT,t1.PRAISE_COUNT,t1.MODEL_TYPE,t2.ALBUM_ID,
     t2.ORIGINAL_IMG,t2.THUMBNAIL_IMG
     FROM T_CONTENT t1 LEFT JOIN  T_CONTENT_ALBUM t2
     ON  t1.CONTENT_ID = t2.CONTENT_ID
    WHERE t1.STATE = 1
    <if test="pd.excludeIds != null and pd.excludeIds != ''">
        AND t1.CONTENT_ID NOT IN
        <foreach collection="pd.excludeIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
         </foreach>
    </if>
    ORDER BY RECOMMEND DESC ,PUTTIME DESC
  </select>
    <!-- 查询固顶新闻 可以为多条 固顶日期为空标识 不限制固顶时间 先根据固顶级别排序再根据推荐值排序-->
  <select id="findFixTopList" parameterType="pd" resultMap="ContentFild">
    SELECT * FROM (SELECT t1.CONTENT_ID,t1.TITLE,t1.SORT_TITLE,t1.LINK,t1.ABSTRACT,t1.ORGIN,t1.ORGINURL,t1.PUTTIME,
     t1.CTYPE,t1.T_IMG,t1.CONTENT,t1.COMMENT_COUNT,t1.PRAISE_COUNT,t1.MODEL_TYPE,t1.TOPLV,t1.RECOMMEND
    FROM T_CONTENT t1
    WHERE t1.STATE = 1 AND IFNULL(t1.TOPLV,0) > 0 AND t1.TOPLVDATE > DATE_FORMAT(NOW(),'%Y-%m-%d %h:%i:%s %p')
    UNION ALL
    SELECT t1.CONTENT_ID,t1.TITLE,t1.SORT_TITLE,t1.LINK,t1.ABSTRACT,t1.ORGIN,t1.ORGINURL,t1.PUTTIME,
     t1.CTYPE,t1.T_IMG,t1.CONTENT,t1.COMMENT_COUNT,t1.PRAISE_COUNT,t1.MODEL_TYPE,t1.TOPLV,t1.RECOMMEND
    FROM T_CONTENT t1
    WHERE t1.STATE = 1 AND IFNULL(t1.TOPLV,0) > 0 AND t1.TOPLVDATE IS NULL ) tt1
    ORDER BY tt1.TOPLV  DESC ,tt1.RECOMMEND DESC
  </select>

  <select id="findContentDetail" parameterType="pd" resultMap="ContentFild">
      SELECT t1.CONTENT_ID,t1.TITLE,t1.SORT_TITLE,t1.LINK,t1.ABSTRACT,t1.ORGIN,t1.ORGINURL,t1.PUTTIME,
      t1.CTYPE,t1.T_IMG,t1.CONTENT,t1.COMMENT_COUNT,t1.PRAISE_COUNT,t1.MODEL_TYPE
      FROM T_CONTENT t1
      WHERE t1.STATE = 1 AND t1.CONTENT_ID= #{contentId}
  </select>
  <update id="addPraiseCount" parameterType="pd">
     UPDATE T_CONTENT SET PRAISE_COUNT = PRAISE_COUNT + 1
     WHERE  CONTENT_ID= #{contentId}
  </update>
    <update id="addCommentCount" parameterType="pd">
        UPDATE T_CONTENT SET COMMENT_COUNT = COMMENT_COUNT + 1
        WHERE  CONTENT_ID= #{contentId}
    </update>
</mapper>