@charset "UTF-8";
body, input, textarea, button, select {
  font-family: PingFang-SC-Medium, "Helvetica Neue", Helvetica, sans-serif, system-ui, sans-serif;
}

input, button, select, textarea {
  outline: none;
}

.bar-nav {
  background-color: #000;
}
.bar-nav .icon-left-nav {
  font-weight: normal;
  color: #FFFFFF;
}
.bar-nav .title {
  font-family: PingFang-SC-Medium;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}

.content .table-view .table-view-cell {
  padding-right: 15px;
}
.content .table-view .table-view-cell .navigate-right:after {
  content: '';
  color: #FFF;
}
.content .table-view .table-view-cell a:not(.btn) {
  margin-right: -15px;
}
.content .table-view .table-view-cell .hot {
  position: absolute;
  width: 34px;
  left: 0;
}
.content .table-view .table-view-cell .img-wrap {
  position: relative;
}
.content .table-view .table-view-cell .img-wrap span {
  position: absolute;
  left: 0;
  top: 0;
  background: #FC9313;
  padding: 5px;
  color: #FFF;
  font-size: 11px;
  line-height: 12px;
}
.content .table-view .table-view-cell .media-object {
  width: 114px;
  height: 96px;
}
.content .table-view .table-view-cell .media-body {
  position: relative;
  color: #333333;
}
.content .table-view .table-view-cell .media-body .title-name {
  font-size: 16px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .table-view .table-view-cell .media-body .grade {
  position: relative;
  top: -2px;
  line-height: 12px;
  padding: 2px 7px;
  display: inline-block;
  font-size: 10px;
  color: #FC9313;
  border: 1px solid #FC9313;
  margin-left: 5px;
}
.content .table-view .table-view-cell .media-body .mark {
  margin-top: 9px;
}
.content .table-view .table-view-cell .media-body .mark span {
  font-size: 10px;
  color: #666666;
  line-height: 12px;
  padding: 2px 7px;
  border: 1px solid #999;
}
.content .table-view .table-view-cell .media-body .mark span:not(last-child) {
  margin-right: 5px;
}
.content .table-view .table-view-cell .media-body p {
  font-size: 12px;
  line-height: 13px;
}
.content .table-view .table-view-cell .media-body .moods {
  color: #999;
  margin-top: 12px;
  margin-bottom: 10px;
}
.content .table-view .table-view-cell .media-body .price {
  color: #666;
}
.content .table-view .table-view-cell .distance {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #999999;
  font-size: 13px;
  line-height: 12px;
  z-index: 9;
}
.content .load-more {
  width: 50%;
  margin: 0 auto;
}
.content .load-more .btn-block {
  color: #ff7d13;
}

/*loading效果*/
.spinner {
  position: fixed;
  display: none;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.spinner .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px;
}
.spinner .loading > img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=djtcd.css.map */
