@charset "UTF-8";
body, input, textarea, button, select {
  font-family: PingFang-SC-Medium, "Helvetica Neue", Helvetica, sans-serif, system-ui, sans-serif;
}

input, button, select, textarea {
  outline: none;
}

.bar-nav {
  background-color: #000;
}
.bar-nav .icon {
  font-weight: normal;
  color: #FFFFFF;
}
.bar-nav .title {
  font-family: PingFang-SC-Medium;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}

.content {
  background: #EFEFEF;
}
.content .banner {
  width: 100%;
  height: 210px;
  display: block;
}
.content .pro-big-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 15px;
  color: #999;
}
.content .pro-big-title .pro-wrap .pro-title {
  color: #454553;
  font-size: 18px;
  margin-bottom: 10px;
}
.content .pro-big-title .pro-wrap .pro-mark {
  margin-top: 9px;
}
.content .pro-big-title .pro-wrap .pro-mark span {
  font-size: 10px;
  color: #666666;
  line-height: 12px;
  padding: 2px 7px;
  border: 1px solid #999;
}
.content .pro-big-title .pro-wrap .pro-mark span:not(last-child) {
  margin-right: 5px;
}
.content .pro-big-title .pro-map {
  line-height: 12px;
  font-size: 12px;
}
.content .pro-big-title .pro-map:before {
  content: '';
  display: block;
  width: 30px;
  height: 25px;
  margin: 0 auto 8px auto;
  background-image: url(../img/icons/map.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
}
.content .pro-bref {
  padding: 15px;
  font-size: 14px;
  color: #666;
  line-height: 14px;
  background: #FFF;
  margin-top: 10px;
}
.content .pro-bref .header {
  font-size: 16px;
  line-height: 18px;
  color: #454553;
  padding-left: 10px;
  border-left: 3px solid #FC9313;
  margin-bottom: 20px;
}
.content .pro-bref > p {
  line-height: 21px;
}
.content .pro-bref > div {
  margin-bottom: 10px;
  line-height: 21px;
}
.content .pro-bref > div:last-child {
  margin-bottom: 0;
}
.content .products {
  background: #FFF;
  padding: 15px;
  margin-top: 10px;
  border-bottom: 1px solid #E0E0E0;
}
.content .products .products-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 14px;
  color: #666;
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: 3px solid #FC9313;
}
.content .products .products-more .more div {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
}
.content .products .products-more .more img {
  position: relative;
  width: 17px;
  padding-left: 5px;
  top: 1px;
}
.content .products .table-view {
  margin-left: -15px;
  margin-right: -15px;
  border-top: none;
}
.content .products .table-view .table-view-cell {
  padding-right: 20px;
}
.content .products .table-view .table-view-cell .navigate-right:after {
  color: #FFF;
}
.content .products .table-view .table-view-cell .hot {
  position: absolute;
  width: 34px;
}
.content .products .table-view .table-view-cell .media-object {
  width: 114px;
  height: 96px;
}
.content .products .table-view .table-view-cell .media-body {
  color: #333333;
}
.content .products .table-view .table-view-cell .media-body .title-name {
  font-size: 18px;
}
.content .products .table-view .table-view-cell .media-body .recomment {
  display: inline-block;
  font-size: 12px;
  color: #FC9313;
  border: 1px solid #FC9313;
  padding: 1px 5px;
  line-height: 14px;
  margin-left: 13px;
}
.content .products .table-view .table-view-cell .media-body .score {
  padding-left: 5px;
  color: #333333;
}
.content .products .table-view .table-view-cell .media-body p {
  color: #999;
}
.content .products .table-view .table-view-cell .media-body .price {
  color: #FF3C00;
  margin-top: 5px;
  font-size: 20px;
}
.content .products .table-view .table-view-cell .media-body .moods {
  margin-top: 5px;
}

.rating-star-0, .rating-star-5, .rating-star-10, .rating-star-15, .rating-star-20, .rating-star-25, .rating-star-30, .rating-star-35, .rating-star-40, .rating-star-45, .rating-star-50 {
  display: inline-block;
  zoom: 1;
  width: 52.5px;
  height: 10.5px;
  margin: 1px 0 0 0;
  overflow: hidden;
  background: url(../img/icons/rating.png) no-repeat;
  background-size: 52.5px 115.5px;
}

.rating-star-0 {
  background-position: 0 -105px;
}

.rating-star-5 {
  background-position: 0 -94.5px;
}

.rating-star-10 {
  background-position: 0 -84px;
}

.rating-star-15 {
  background-position: 0 -73.5px;
}

.rating-star-20 {
  background-position: 0 -63px;
}

.rating-star-25 {
  background-position: 0 -52.5px;
}

.rating-star-30 {
  background-position: 0 -42px;
}

.rating-star-35 {
  background-position: 0 -31.5px;
}

.rating-star-40 {
  background-position: 0 -21px;
}

.rating-star-45 {
  background-position: 0 -10.5px;
}

.rating-star-50 {
  background-position: 0 0px;
}

/*loading效果*/
.spinner {
  position: fixed;
  display: none;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.spinner .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px;
}
.spinner .loading > img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=djtcdxq.css.map */
