@charset "UTF-8";
body, input, textarea, button, select {
  font-family: PingFang-SC-Medium, "Helvetica Neue", Helvetica, sans-serif, system-ui, sans-serif;
}

input, button, select, textarea {
  outline: none;
}

.bar-nav {
  background-color: #000;
}
.bar-nav .icon-left-nav {
  font-weight: normal;
  color: #FFFFFF;
}
.bar-nav .title {
  font-family: PingFang-SC-Medium;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}

.bar-header-secondary {
  border-bottom: none;
}
.bar-header-secondary .segmented-control {
  top: 0;
  height: 100%;
  font-family: PingFang-SC-Medium;
  font-size: 16px;
  border: none;
}
.bar-header-secondary .segmented-control .control-item {
  padding-top: 12px;
  border-left: none;
}
.bar-header-secondary .segmented-control .active {
  background-color: #fff;
  color: #FC9313;
  border-bottom: 3px solid #FC9313;
}

.content > .table-view:first-child {
  margin-top: 0;
}

.table-view .table-view-cell {
  padding-right: 20px;
}
.table-view .table-view-cell .navigate-right:after {
  color: #FFF;
}
.table-view .table-view-cell .hot {
  position: absolute;
  width: 34px;
}
.table-view .table-view-cell .media-object {
  width: 114px;
  height: 96px;
}
.table-view .table-view-cell .media-body {
  color: #333333;
}
.table-view .table-view-cell .media-body .title-name {
  font-size: 18px;
}
.table-view .table-view-cell .media-body .recomment {
  position: relative;
  top: -3px;
  display: inline-block;
  font-size: 12px;
  color: #FC9313;
  border: 1px solid #FC9313;
  padding: 1px 5px;
  line-height: 14px;
  margin-left: 13px;
}
.table-view .table-view-cell .media-body .score {
  padding-left: 5px;
  color: #333333;
}
.table-view .table-view-cell .media-body p {
  color: #FC9313;
  line-height: 15px;
  margin: 9px auto;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-view .table-view-cell .media-body .price {
  color: #FF3C00;
  margin-top: 5px;
  font-size: 20px;
  line-height: 20px;
}
.table-view .table-view-cell .media-body .moods {
  margin-top: 5px;
  color: #999;
}

.content .load-more {
  width: 50%;
  margin: 0 auto;
}
.content .load-more .btn-block {
  color: #ff7d13;
}

.rating-star-0, .rating-star-5, .rating-star-10, .rating-star-15, .rating-star-20, .rating-star-25, .rating-star-30, .rating-star-35, .rating-star-40, .rating-star-45, .rating-star-50 {
  display: inline-block;
  zoom: 1;
  width: 52.5px;
  height: 10.5px;
  margin: 1px 0 0 0;
  overflow: hidden;
  background: url(../img/icons/rating.png) no-repeat;
  background-size: 52.5px 115.5px;
}

.rating-star-0 {
  background-position: 0 -105px;
}

.rating-star-5 {
  background-position: 0 -94.5px;
}

.rating-star-10 {
  background-position: 0 -84px;
}

.rating-star-15 {
  background-position: 0 -73.5px;
}

.rating-star-20 {
  background-position: 0 -63px;
}

.rating-star-25 {
  background-position: 0 -52.5px;
}

.rating-star-30 {
  background-position: 0 -42px;
}

.rating-star-35 {
  background-position: 0 -31.5px;
}

.rating-star-40 {
  background-position: 0 -21px;
}

.rating-star-45 {
  background-position: 0 -10.5px;
}

.rating-star-50 {
  background-position: 0 0px;
}

/*loading效果*/
.spinner {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.spinner .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px;
}
.spinner .loading > img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=jd.css.map */
